<nav class="navigation-container">
  <div class="navigation-wrapper">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/be56d73722da6fa83292f4238a242db2c1dc2406abaf1f9d99c514ac46ecccaf?placeholderIfAbsent=true&apiKey=1f1356d0c2574f82958771cd44481ea0"
      class="profile-image"
      alt="User profile"
    />
    <div class="nav-links-container">
      <div class="nav-item active">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/bb5b18095c126406542d3f887cb6b88d41d453e8cc497609bb8534bcd8c1b860?placeholderIfAbsent=true&apiKey=1f1356d0c2574f82958771cd44481ea0"
          class="nav-icon"
          alt=""
        />
        <a href="#" class="nav-link" tabindex="0">HOME</a>
      </div>
      <div class="nav-item">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/3fb37c0cf9c0e0b3c44cea6cca1d05f014595a873522eef7634a1b5b7c3a845c?placeholderIfAbsent=true&apiKey=1f1356d0c2574f82958771cd44481ea0"
          class="nav-icon"
          alt=""
        />
        <a href="#" class="nav-link" tabindex="0">MEAL PLANNING</a>
      </div>
      <div class="nav-item">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/e245b421f2d2d3c02fcf3103190ea6f15e8cc2516051e058ab9655e8283d009a?placeholderIfAbsent=true&apiKey=1f1356d0c2574f82958771cd44481ea0"
          class="nav-icon"
          alt=""
        />
        <a href="#" class="nav-link" tabindex="0">PRODUCTS</a>
      </div>
      <div class="nav-item">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/579130bb0684c1a2a62735c2a47bfa5f98cd7cd026afd740ba5afc27f60cc867?placeholderIfAbsent=true&apiKey=1f1356d0c2574f82958771cd44481ea0"
          class="nav-icon"
          alt=""
        />
        <a href="#" class="nav-link" tabindex="0">USER PROFILE</a>
      </div>
      <div class="nav-item logout">
        <img
          loading="lazy"
          src="https://cdn.builder.io/api/v1/image/assets/TEMP/3c74a8469d904223c99b3f080a33208eaad0816766736a91ed989f8169e64f8f?placeholderIfAbsent=true&apiKey=1f1356d0c2574f82958771cd44481ea0"
          class="nav-icon-small"
          alt=""
        />
        <a href="#" class="nav-link" tabindex="0">LOGOUT</a>
      </div>
    </div>
  </div>
</nav>
