<div class="nav-bar">
  <div
    *ngFor="let item of menuItems"
    [class.active]="item === activeItem"
    (mouseenter)="setActive(item)"
    class="menu-item"
  >
    <img
      src="'https://placeholder.pics/svg?' + item.id"
      alt="item.name"
      width="45"
      height="43"
    />
    <span>{{ item.name }}</span>
  </div>
  <div class="logout">
    <img src="https://dashboard.codeparrot.ai/api/assets/Z034gHFEV176CUmw" alt="Logout" width="24" height="23" />
    <span>LOGOUT</span>
  </div>
</div>
